.participants {
  padding-top: 101px;
  padding-bottom: 140px;
}

.participants__container {
  position: relative;
}

.participants__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 59px;
}

.participants__wrapper {
  width: 100%;
  overflow: hidden;
}

.participants__list {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  transition: 1s ease-in-out;
}

.participants__item {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: calc((100% / 3) - 10px);
}

.participants__card {
  text-align: center;
  padding: 0 37px;
}

.participants__figure {
  margin-bottom: 29px;
}

.participants__image {
  width: 100%;
  object-fit: cover;
}

.participants__name {
  font-weight: 600;
  font-size: clamp(16px, calc(16px + (8 * ((100vw - 980px) / (1336 - 980)))), 24px);
  line-height: 1.2;
  margin-bottom: 5px;
}

.participants__description {
  font-size: clamp(12px, calc(12px + (8 * ((100vw - 980px) / (1336 - 980)))), 20px);
  line-height: 1.2;
  color: rgba(49, 49, 49, 0.6);
  margin-bottom: 20px;
}

.participants__link {
  display: block;
  width: min-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 62px;
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 7px 12px;
  margin: 0 auto;
}

.participants__link:hover {
  color: #fff;
  background-color: var(--blue);
}

.participants__controller {
  position: absolute;
  top: 9px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 151px;
}

.participants__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--text);
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.participants__button:hover {
  background-color: var(--yellow);
}

.participants__counter {
  font-size: 16px;
  line-height: 1.2;
  color: rgba(49, 49, 49, 0.6);
}

.participants__counter span:first-child {
  color: var(--text);
}

@media (max-width: 1200px) {
  .participants__title {
    font-size: 48px;
  }
}

@media (max-width: 980px) {
  .participants {
    padding-top: 61px;
    padding-bottom: 100px;
  }

  .participants__title {
    font-size: 42px;
  }

  .participants__card {
    padding: 0 20px;
  }

  .participants__name {
    font-size: clamp(12px, calc(12px + (4 * ((100vw - 768px) / (980 - 7668)))), 16px);
  }

  .participants__link {
    font-size: 12px;
  }

  .participants__controller {
    top: 3px;
  }
}

@media (max-width: 768px) {
  .participants__title {
    font-size: 36px;
    line-height: 1.1;
  }

  .participants__wrapper {
    margin-bottom: 40px;
  }

  .participants__item {
    max-width: calc((100% / 2) - 10px);
  }

  .participants__name {
    font-size: clamp(16px, calc(16px + (8 * ((100vw - 768px) / (980 - 7668)))), 24px);
  }

  .participants__description {
    font-size: clamp(14px, calc(14px + (6 * ((100vw - 580px) / (768 - 580)))), 20px);
  }

  .participants__controller {
    position: static;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .participants__title {
    margin-bottom: 40px;
  }

  .participants__wrapper {
    max-width: 394px;
    margin: 0 auto 39px;
  }

  .participants__item {
    max-width: 100%;
    width: 100%;
  }

  .participants__card {
    padding: 0 24px;
  }

  .participants__image {
    width: 244px;
    margin: 0 auto;
  }

  .participants__name {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .participants__description {
    font-size: 20px;
  }

  .participants__link {
    font-size: 16px;
  }

  .participants__controller {
    width: 129px;
  }

  .participants__button {
    width: 36px;
    height: 36px;
  }

  .participants__button svg {
    width: 10px;
    height: 18px;
  }
}
