.stages {
  padding-top: 101px;
  padding-bottom: 100px;
}

.stages__container {
  position: relative;
}

.stages__title {
  max-width: 806px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.stages__description {
  position: absolute;
  left: 341px;
  top: 71px;
  max-width: 280px;
  line-height: 1.2;
  color: var(--blue);
}

@media (max-width: 1200px) {
  .stages__title {
    font-size: 48px;
  }

  .stages__description {
    left: 310px;
    top: 65px;
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  .stages {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .stages__title {
    max-width: 576px;
    font-size: 42px;
    margin-bottom: 200px;
  }

  .stages__description {
    left: 270px;
    top: 53px;
  }
}

@media (max-width: 768px) {
  .stages__title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 12px;
  }

  .stages__description {
    position: static;
    max-width: 300px;
    margin-bottom: 148px;
  }
}
